# Sistema
Thumbs.db
desktop.ini
.DS_Store

# Dropbox
.dropbox
.dropbox.attr
*.dropbox.attr
* (conflicted copy *
* (copia en conflicto *

# Editores
.vscode/
.idea/
*.swp

# Nada de dependencias: este proyecto no tiene build step
node_modules/
